.container{
    
}

.mainInfoContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.eventImages{
    width: 90%;
    height: 70vh;
    object-fit: contain;
}

.eventName{
    margin: 12px 0;
    font-size: 28px;

}

.infoParagraf{
    text-align: left;
    margin: 4px 0;
}

.dateParagraf{
    margin: 4px 0;
}

.seatMapTitle{
    font-size: 15px;
}
